" Press ? for help

.. (up a dir)
<op/web development/ruby/depot/
|~app/
| |+assets/
| |+controllers/
| |+helpers/
| |+mailers/
| |+models/
| `~views/
|   `~layouts/
|     `-application.html.erb
|+config/
|+db/
|+doc/
|+lib/
|+log/
|~public/
| |-404.html
| |-422.html
| |-500.html
| |-favicon.ico
| |-index.html
| `-robots.txt
|+script/
|+test/
|+tmp/
|+vendor/
|-config.ru
|-Gemfile
|-Gemfile.lock
|-Rakefile
`-README
