-if notice
  %p#notice= notice

%h1 Your Progmatic Catalog
%h5="you have visted our index page for #{pluralize(session[:counter],'time')}"

- @products.each do |product|
  .entry
    =image_tag(product.image_url)
    %h3=product.title
    - #sanitize filter and nasty input to ensure pure text left
    =sanitize(product.description)
    .price_line
      %span.price=number_to_currency(product.price)
      =button_to 'Add to Cart', line_items_path(:product_id => product)
