- content_for :head do
  =stylesheet_link_tag  :store

%h1
  =t('.title_html')
  \-
  =page_title
%h5="You have visted our index page for #{pluralize(session[:counter],'time')} this #{print_weekday}"

- cache do
  =render(:partial => "store_item", :collection => @products, :spacer_template => "spacer")
